@import "base/variables";
@import "components/header";
@import "components/aboutus";
@import "components/trending";
@import "components/nav-bar";
@import "components/slide";
@import "components/credits";

@font-face {
  font-family: ElegantIcons;
  src: url("/fonts/ElegantIcons.woff");

}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
}
