.about {
  margin: 0;
  padding: 35px $marginleft;

  @media screen and (max-width: 750px){
  padding-left: 10px;
  }
}

.about img {
  float: left;
  margin-right: 25px;
  border-radius: 10px;
  background-position: center;
}

.about h2 {
  margin: 0;
  color: $blue;
  font-weight: 700;
}

.about p {
  width: 90%;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: rgb(59, 64, 71);
}
