.credits {
  margin: 100px 0 0;
  height: 40px;
  width: 90%;
}

.credits p {
  color: $gray;
  font-size: 10px;
  text-align: left;
  margin-left: 75px;
  border-top-style: solid;
  border-color: $gray;
  border-width: 1px;
}
