.header {
  background-color: transparentize($black, 0.5);
  background-image: url("/images/my_capsule_banner.jpg");
  background-blend-mode: color-burn;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
}

.space-name {
  width: 333px;
  height: 115px;
  margin: 0px 0px 0px $marginleft;
  font-size: 100px;
  color: $white;

  @media screen and (max-width: 750px) {
    font-size: 50px;
    margin-left: $marginleft-res;
    margin-bottom: 10px;
  }

}

.edit-space {
  font-family: initial;
  font-size: 110px;
  color: $blue;
}

.subtitle {
  margin: 0 0 0 $marginleft;
  font-size: 15px;
  font-weight: 100;
  color: $white;

  @media screen and (max-width: 750px) {
    font-size: 15px;
    margin-left: $marginleft-res;
    width: 200px;
  }
}

.button {
  background-color: $blue;
  border: none;
  color: $white;
  padding: 12px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 45px $marginleft;
  border-radius: 5px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $bluehover
  }

  @media screen and (max-width: 750px) {
    margin-left: $marginleft-res;
  }
}
