.menu {
  position: fixed;
  top: 0px;
  list-style-type: none;
  width: 100%;
  height: 70px;
  text-align: right;
  z-index: 2;
  transition: 0.5s;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  padding: 0px 30px 0px 15px;
  font-size: 10px;
  display: inline-block;
  text-decoration: none;
  color: $white;
  transition: 0.3s;

  &:hover {
    opacity: 0.3;
  }
}

.logo {
  position: fixed;
  top: 10px;
  left: 90px;
  max-width: 60px;
  max-height: 60px;
  z-index: 3;

  @media screen and (max-width: 750px) {
    left: $marginleft-res;
  }
}

label[for="menu-responsive"] {
  font-family: ElegantIcons;
  color: $white;
  text-align: right;
  font-size: 50px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  rigth: 10px;
  z-index: 4;
  width: 100%;
  display: none;
}

#menu-responsive {
  display: none;
}

@media screen and(max-width: 750px) {
  label[for="menu-responsive"] {
    display: block;
  }

  #menu-responsive:checked ~ .menu-res {
    margin-left: -40px;
  }

  .menu-res {
    margin-top: -18px;
    margin-left: 100%;
    transition: all .4s;
  }
  .menu-res ul {
    width: 100%;
  }

  .menu-res ul li a {
    background-color: $blue;
    display: grid;
    text-align: center;
    font-size: 20px;
    padding: 20%;
    margin: -2px;
  }
}
