.slide-box {
  margin: 50px;
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.title-slide {
  color: $blue-gray;
  font-size: 17px;
  font-weight: 600;
}

.subtext-slide {
  color: $gray;
  font-size: 15px;
  font-weight: 400;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
