.row {
  width: 100.5%;
  padding: 25px;
  margin: 0;
  background-color: transparentize($black, 0.5);
}

.row .box-row {
  color: $white;
  font-weight: lighter;
}

#trending-today {
  text-align: center;
  font-weight: 900;
  margin: 10px 10px 10px 70px;
}

.today-blue {
  color: $blue;
}

.bord-test {
  border-left-style: groove;
  border-color: $white;
  border-left-width: 1px;
  padding-left: 50px;
}

@media screen and (max-width: 750px) {
  .row {
    visibility: hidden;
  }
}
